<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MagaTutu - Produtos da Empresa</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap" />
        </svg>
        <span class="fs-4">MagaTutu</span>
      </a>
      <a class="btn btn-secondary" href="/empresas" role="button">Empresas</a>
    </header>
  </div>
  <div class="container d-flex">
    <div class="col-4 m-auto pt-3 pb-2 text-center">
      <form action="" method="GET">
        <input type="text" id="buscar-nome-produto" name="buscar-nome-produto" placeholder="Buscar por nome..."
          class="form-control">
      </form>
    </div>
    <div class="col-4 m-auto pt-3 pb-2 text-end">
      <a class="btn btn-success" href="/cadastrar-produto/{{empresa}}" role="button">Cadastrar Produto</a>
    </div>
  </div>
  <br>
  <div class="container">
    <h1>Lista de Produtos</h1>
    <div class="album py-5 bg-light mt-3">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for produto in produtos %}
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: imagem do produto" preserveAspectRatio="xMidYMid slice"
                focusable="false">
                <title>{{produto.nome}}</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
              </svg>
              <div class="card-body">
                <p class="card-text"><span>#{{produto.id}} <strong>{{produto.nome}}</strong></span></p>
                <p><small class="card-muted">{{produto.descricao}}</small></p>
                <p class="card-text">Qtde Estoque: <i> {{produto.qtde_estoque}}</i></p>
                <p class="card-text">Categoria: <i>{{produto.categoria.nome}}</i></p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">R$ {{produto.preco}}</small>
                  <div class="btn-group">
                    <a href="/deletar-produto/{{ produto.id }}" type="button" class="btn btn-sm btn-danger">Deletar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>